* {
    box-sizing: border-box;
}

body {
    font-family: fantasy;
    font-size: 16px;
    background-color: lightgrey;
}

.header {
    background-color: grey;
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
}

.main {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.main aside {
    flex: 0 0 18%;
    /*margin-right: 20px;*/
    text-align: center;
    background-color: grey;
}

section {
    flex-direction: column;
    padding: 10px;
    border: 1px dotted black;
    margin: 10px;
}


.footer {
    background-color: grey;
    text-align: center;
    padding: 20px;
    font-size: 0.9em;
}

.blue-text {
    color: white;
    background-color: rgba(0, 0, 255, 0.5);
}

.red-text {
    color: white;
    background-color: #ff0000;
}

img {
    padding: 10px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

p {
    text-indent: 30px;
}

a:visited, a:link {
    color: black;
}

a:hover {
    color: red;
}

.col li {
    list-style-type: none;
}

.col li:hover {
    background-color: lightblue;
}

.col ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.col li {
    list-style-type: none;
    display: inline-block;
    background-color: grey;
    /*padding: 10px 20px;*/
    /*margin: 5px;*/
}

.col a {
    text-decoration: none;
}

@media (min-width: 640px) {
    body {
        font-size: 14px;
    }
    .main {
        flex-direction: row;
    }
    aside  ul{
        flex-direction: column;
    }
}

